*.txt text eol=crlf linguist-detectable linguist-language="Valve Data Format"
*.vdf text eol=crlf linguist-detectable linguist-language="Valve Data Format"
*.json text eol=lf linguist-detectable linguist-language="JSON"
*.go text eol=lf
go.* text eol=lf
