*.txt text eol=crlf linguist-detectable linguist-language=vdf
*.vdf text eol=crlf linguist-detectable linguist-language=vdf
*.json text eol=lf linguist-detectable linguist-language=json
*.go text eol=lf
go.* text eol=lf
